.emms__previous-editions {
    background: #ffffff;
}

/* ---- Hero ---- */

.emms__previous-editions__hero {
    background: #310E44;
    padding: 177px 0 88px 0;
    text-align: center;
}

.emms__previous-editions__hero .emms__container--md {
    max-width: 480px;
}

.emms__previous-editions__hero h1 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    color: #FFFFFF;
    animation-delay: .1s;
}

.emms__previous-editions__hero p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 30px 0 0 0;
    animation-delay: .5s;
}

.emms__previous-editions__hero p strong{
    font-weight: 800;
}

.emms__previous-editions__hero p a{
    font-weight: 800;
    color: #33AD73;
}

.emms__previous-editions__hero p a:hover{
    text-decoration: underline;
}

.emms__previous-editions__hero__bottom{
    margin: 90px 0 -85px 0;
    border-top: solid 1px #EF2AAC;
    border-bottom: solid 1px #EF2AAC;
    height: 80px;
    position: relative;
}

.emms__previous-editions__hero__bottom__container{
    position: absolute;
    bottom: 30px;
    left: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    animation-delay: .4s;
}

.emms__previous-editions__hero__bottom__container p{
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    color: #ef2aac;
    white-space: nowrap;
    margin: 0 5px 0 0;
    animation: text-bottom 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes text-bottom{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* Hero with columns */

.emms__previous-editions__hero .emms__previous-editions__hero__row{
    display: flex;
    align-items: center;
    gap: 50px;
}

.emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-text{
    text-align: left;
    width: 40%;
}

.emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-img{
    width: 60%;
}

.emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-img img{
    width: 100%;
    animation-delay: .3s;
}


/* ---- Editions list ----  */

.emms__previous-editions__list h2{
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #000;
    margin: 0 0 70px 0;
}

.emms__previous-editions__list {
    padding: 120px 0 40px 0;
}

.emms__previous-editions__list .emms__previous-editions__list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    column-gap: 30px;
}

.emms__previous-editions__list .emms__previous-editions__list__item {
    width: 31%;
    margin: 0 0 80px 0;
    animation-delay: .2s;
}

.emms__previous-editions__list .emms__previous-editions__list__item a {
    color: #333333;
    cursor: pointer;
}

.emms__previous-editions__list .emms__previous-editions__list__item__image{
    pointer-events: none;
}

.emms__previous-editions__list .emms__previous-editions__list__item__image img {
    width: 100%;
    display: block;
}

.emms__previous-editions__list .emms__previous-editions__list__item__description {
    padding: 30px 0 0 0;
    pointer-events: none;
}

.emms__previous-editions__list .emms__previous-editions__list__item__description h3 {
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.emms__previous-editions__list .emms__previous-editions__list__item__description p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    min-height: 110px;
}

.emms__previous-editions__list .emms__previous-editions__list__item__description span {
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    color: #33AD73;
    margin: 15px 0 0 0;
    display: block;
    animation-duration: .2s;
}

.emms__previous-editions__list a:hover .emms__previous-editions__list__item__description span {
    text-decoration: underline;
    animation-duration: .2s;
}

/* Item lg */

.emms__previous-editions__list .emms__previous-editions__list__item--lg {
    width: 48%;
    background: #F6F6F6;
    border-radius: 4px;
    overflow: hidden;
}

.emms__previous-editions__list .emms__previous-editions__list__item--lg .emms__previous-editions__list__item__description {
    padding: 40px;
}

.emms__previous-editions__list .emms__previous-editions__list__item--lg .emms__previous-editions__list__item__description h3 {
    margin: 0 0 15px 0;
}

.emms__previous-editions__list .emms__previous-editions__list__item--lg .emms__previous-editions__list__item__description span {
    margin: 25px 0 0 0;
}


/* ----- Responsive ----- */

@media(max-width:992px) {

    .emms__previous-editions__list .emms__container--md {
        max-width: 500px;
    }

    .emms__previous-editions__list .emms__previous-editions__list__container{
        column-gap: 0;
    }

    .emms__previous-editions__list .emms__previous-editions__list__item {
        width: 100%;
    }

    .emms__previous-editions__list .emms__previous-editions__list__item__description p{
        min-height: auto;
    }

    /* Item lg */

    .emms__previous-editions__list .emms__previous-editions__list__item--lg {
        width: 100%;
    }

    /* Hero width columns */

    .emms__previous-editions__hero .emms__previous-editions__hero__row{
        display: block;
    }
    .emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-text{
        text-align: center;
        width: 100%;
        margin: 0 auto 50px auto;
        max-width: 600px;
    }
    .emms__previous-editions__hero .emms__previous-editions__hero__row .emms__previous-editions__hero__column-img {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media(max-width:620px) {
    .emms__previous-editions__hero {
        padding: 130px 0 60px 0;
    }

    .emms__previous-editions__hero__bottom{
        margin: 90px 0 -58px 0;
    }

    .emms__previous-editions__list {
        padding: 70px 0 30px 0;
    }

    .emms__previous-editions__list .emms__previous-editions__list__item {
        margin: 0 0 40px 0;
    }

    /* Item lg */

    .emms__previous-editions__list .emms__previous-editions__list__item--lg .emms__previous-editions__list__item__description {
        padding: 25px;
    }
}
