/* Hero */

.emms__sponsors__hero {
    background: #000 url("../../../img/bg-section-2.png") no-repeat;
    background-size: cover;
    background-position: 70%;
    padding: 178px 0 80px 0;
    animation: sponsors-hero-back 3s;
}

@keyframes sponsors-hero-back {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 70%;
    }
}

.emms__sponsors__hero__title {
    max-width: 560px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    animation-delay: .1s;
}

.emms__sponsors__hero__title h1 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    color: #fff;

}

.emms__sponsors__hero__title h1 em {
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    display: block;
    margin: 0 0 20px 0;
}

.emms__sponsors__hero__title p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 25px 0 0 0;
}

.emms__sponsors__hero__title .emms__cta {
    margin: 50px 0 0 0;
    animation-delay: .3s;
}

@media(max-width:620px) {

    .emms__sponsors__hero {
        padding: 120px 0 45px 0;
    }

    .emms__sponsors__hero__title h1 {
        font-size: 22px;
        line-height: 28px;
    }

    .emms__sponsors__hero__title p {
        margin: 20px 0 0 0;
    }

    .emms__sponsors__hero__title .emms__cta {
        margin: 30px 0 0 0;
    }
}



/* Sponsors List */

.emms__sponsors__list {
    padding: 72px 0 55px 0;
}

.emms__sponsors__list .emms__sponsors__list__title {
    text-align: center;
    margin: 0 0 95px 0;
}

.emms__sponsors__list .emms__sponsors__list__title h2 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    color: #333333;
    animation-delay: .1s;
}

.emms__sponsors__list .emms__sponsors__list__title ul {
    margin: 40px 0 0 0;
    animation-delay: .2s;
}

.emms__sponsors__list .emms__sponsors__list__title ul li {
    font-size: 16px;
    color: #333333;
    display: inline-block;
    margin: 0 20px;
    padding: 0 0 0 30px;
    box-sizing: border-box;
    position: relative;
}

.emms__sponsors__list .emms__sponsors__list__title ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 20px;
    height: 20px;
    background: url("../../../img/icons/icon-check--purple.svg") no-repeat;
    background-size: contain;
}

.emms__sponsors__list .emms__sponsors__list__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 8%;
    max-width: 1080px;
    margin: 0 auto;
    animation-delay: .3s;
}

.emms__sponsors__list .emms__sponsors__list__content .emms__sponsors__list__item {
    width: 28%;
    margin: 0 0 100px 0;
}

.emms__sponsors__list .emms__sponsors__list__content .emms__sponsors__list__item .emms__sponsors__list__item__logo {
    border-bottom: solid 1px #B4B4B4;
    margin: 0 0 20px 0;
}

.emms__sponsors__list .emms__sponsors__list__content .emms__sponsors__list__item .emms__sponsors__list__item__logo img {
    height: 50px;
}

.emms__sponsors__list .emms__sponsors__list__content .emms__sponsors__list__item h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #333333;
    margin: 0 0 30px 0;
}

.emms__sponsors__list .emms__sponsors__list__content .emms__sponsors__list__item p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #333333;
}

.emms__sponsors__list .emms__sponsors__list__content .emms__sponsors__list__item a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #33AD73;
    margin: 30px 0 0 0;
    display: inline-block;
    cursor: pointer;
    transition-duration: .2s;
}

.emms__sponsors__list .emms__sponsors__list__content .emms__sponsors__list__item a:hover {
    color: #026C3C;
    transition-duration: .2s;
}

.emms__sponsors__list .emms__sponsors__list__content .emms__sponsors__list__item a.inactive{
    color: #b2b2b2;
    pointer-events: none;
}

@media(max-width:992px) {

    .emms__sponsors__list .emms__sponsors__list__title ul {
        max-width: 300px;
        margin: 20px auto 0 auto;
    }

    .emms__sponsors__list .emms__sponsors__list__title ul li {
        width: 48%;
        margin: 25px 0 0 0;
        text-align: left;
    }
}

@media(max-width:620px) {

    .emms__sponsors__list{
        padding: 36px 0 0 0;
    }

    .emms__sponsors__list .emms__sponsors__list__title h2 {
        font-size: 22px;
    }

    .emms__sponsors__list .emms__sponsors__list__title ul {
        margin: 0 auto;
    }

    .emms__sponsors__list .emms__sponsors__list__title {
        margin: 0 0 85px 0;
    }

    .emms__sponsors__list .emms__sponsors__list__content .emms__sponsors__list__item {
        max-width: 300px;
        width: 100%;
        margin: 0 auto 78px auto;
        text-align: center;
    }
}




/* Conferences section */

.emms__conferences {
    background: #310e44;
    padding: 114px 0;
}

.emms__conferences__container {
    display: flex;
    max-width: 990px;
    margin: auto;
    width: 90%;
    justify-content: center;
}

.emms__conferences__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.emms__conferences__title {
    text-align: center;
    margin: 0 auto 50px auto;
}
.emms__conferences__title h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 auto;
    max-width: 800px;
}

.emms__conferences__title p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin: 30px auto 0 auto;
    max-width: 620px;
}

.emms__conferences__cards__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.emms__conferences__cards img {
    width: 100%;
    transition-duration: .3s;
}

.emms__conferences__cards {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px 18px;
    box-sizing: border-box;
}
.emms__conferences__cards a{
    cursor: pointer;
}
.emms__conferences__cards h4 {
    color: #ffffff;
    margin: 35px 0;
    min-height: 40px;
}
.emms__conferences__cards p {
    color: #ffffff;
    margin: 0;
}

.emms__conferences__cards span {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #33ad73;
    margin: 35px 0 0 0;
    display: block;
    transition-duration: .3s;
}

.emms__conferences__cards a:hover img {
    opacity: .8;
    transition-duration: .3s;
}

.emms__conferences__cards a:hover span{
    text-decoration: underline;
    transition-duration: .3s;
}

.emms__conferences__cards a:hover,
.emms__conferences__first__card__text a:hover {
    color: #008046;
    transition: all 0.35s ease;
}

.emms__conferences a[data-target="modalRegister"] img,
.emms__conferences a[data-target="modalRegister"] h4,
.emms__conferences a[data-target="modalRegister"] p,
.emms__conferences a[data-target="modalRegister"] span{
    pointer-events: none;
}

@media only screen and (max-width: 1025px) {
    .emms__conferences__title h2 {
        padding: 0 2rem;
    }

    .emms__conferences__title p {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 898px) {

    .emms__conferences__title h2 {
        padding: 0rem;
    }

    .emms__conferences__title p {
        padding: 0rem;
    }
}

@media only screen and (max-width: 768px) {

    .emms__conferences__cards{
        max-width: initial;
        width: 100%;
        margin: 0 0 20px;
    }

    .emms__conferences__cards:last-child{
        margin: 0;
    }

    .emms__conferences__cards img{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 620px) {
    .emms__conferences {
        padding: 60px 0;
    }
    .emms__conferences__title h2 {
        font-size: 32px;
        line-height: 35px;
    }
}
