* {
    text-rendering: optimizeLegibility;
    font-kerning: normal !important;
    -moz-font-feature-settings: "kern";
    -ms-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
}

html,
body {
    font-family: "Proxima-Nova", "helvetica", "sans-serif";
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: #f6f6f6;
    overflow-x: hidden;
}

body.hidden{
    overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    font-weight: 400;
}

/* Containers */

.emms__container--lg {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.emms__container--md {
    max-width: 990px;
    margin: 0 auto;
    width: 90%;
}

.emms__container--sm {
    max-width: 680px;
    margin: 0 auto;
    width: 90%;
}

/* General CTA */

.emms__cta {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    background: #008046;
    border-radius: 100px;
    padding: 20px 50px;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    position: relative;
}

.emms__cta.sm{
    padding: 12px 30px;
}

.emms__cta:hover {
    background: #026c3c;
    transition-duration: 0.2s;
}

@media (max-width: 620px) {
    .emms__cta {
        text-align: center;
        display: block;
        width: 100%;
        padding: 20px 25px;
        box-sizing: border-box;
    }
}

/* Scroll fade */

.emms__fade-in {
    opacity: 0;
}

.emms__fade-in-animation {
    opacity: 0;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.emms__fade-top {
    opacity: 0;
}

.emms__fade-top-animation {
    opacity: 0;
    animation: fade-top 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-top {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Backgrounds */

.emms__background-a {
    background: url("../../../img/background-a.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.emms__background-b {
    background: url("../../../img/background-b.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.emms__background-c {
    background: url("../../../img/background-c.png") no-repeat;
    background-size: contain;
    background-position: center;
}

/* Separator */

.emms__separator {
    background: url("../../../img/icons/icon-separator.svg") no-repeat;
    background-size: contain;
    width: 21px;
    height: 12px;
    margin: 0 auto;
}

/* Hide */
.hide{
    display: none;
}

/* Hide in responsive */

.mb, .mb--tablet__on {
    display: none;
}

@media (max-width: 620px) {
    .mb {
        display: block;
    }
}

@media (max-width: 620px) {
    .dk {
        display: none;
    }
}

@media (max-width: 993px) {
    .mb--tablet {
        display: none;
    }
    .mb--tablet__on{
        display: block;
    }
}

/* Flickity styles */

.flickity-prev-next-button .flickity-button-icon {
    display: none;
}

.flickity-prev-next-button.previous {
    background: url("../../../img/icons/icon-carousel-arrow-left.svg") no-repeat;
    background-size: contain;
    background-position: center;
    top: 32%;
    left: -30px;
    width: 14px;
    height: 29px;
}

.flickity-prev-next-button.next {
    background: url("../../../img/icons/icon-carousel-arrow-right.svg") no-repeat;
    background-size: contain;
    background-position: center;
    top: 32%;
    right: -30px;
    width: 14px;
    height: 29px;
}

.flickity-page-dots {
    bottom: -55px;
}

.flickity-page-dots .dot {
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0 6px;
    background: #fff;
    border: solid 1px #b58fc1;
    opacity: 1;
    box-shadow: 0px 2px 8px #000;
}

.flickity-page-dots .dot.is-selected::after {
    content: "";
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    width: 13px;
    height: 13px;
    background: #b58fc1;
    border-radius: 100%;
}

/* Forms */

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

.dtCursorPointer.button--loading::after {
    border-top-color: #000000;
}

.error {
    display: block;
}

.error:after {
    left: 0;
    top: 100%;
    color: #e34f45;
    content: attr(data-error);
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    padding: 0;
    text-transform: none;
    text-transform: initial;
    white-space: nowrap;
    z-index: 1;
}

.input-error {
    border: 1px solid #e34f45;
}

/* Proportional div */

.emms__cropper-cont-16-9 {
    width: 100%;
    padding-top: 56.25%;
    text-align: center;
    position: relative;
}

.emms__cropper-cont {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.emms__cropper-cont-interno {
    width: 100%;
    height: 100%;
}

/* Backgrounds */

.emms__bg-w {
    background: #fff;
}

.emms__bg-section-1 {
    background: url("../../../img/bg-section-1.png") #320e45 no-repeat;
    background-size: contain;
    background-position: top;
}

.emms__bg-section-2 {
    background: url("../../../img/bg-section-2.png") no-repeat;
    background-size: cover;
    background-position: top;
}


/* Collapse list */

.emms__collapse__list.close .emms__collapse__item{
    display: none;
}

.emms__collapse__list.open .emms__collapse__item{
    display: block;
}
