.emms__counter h5{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 12px 0;
}

.emms__counter li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #fff;
    margin-right: 30px;
}

.emms__counter li:last-child{
    margin: 0;
}

.emms__counter li::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 14px);
    width: 6px;
    height: 16px;
    background: url("../../../img/icons/icon-two-dots.svg") no-repeat;
    background-size: contain;
}

.emms__counter li:last-child::after{
    display: none;
}

.emms__counter li div{
    width: 58px;
    height: 60px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}

.emms__counter li div span{
    font-size: 30px;
    font-weight: 700;
    color: #6b44bb;
    text-align: center;
    display: block;
    line-height: 60px;
    z-index: 1;
    position: relative;
}

.emms__counter li .emms__counter__number--data{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}


/* ---------------------------------------------- Responsive ---------------------------------------------- */


@media(max-width:620px){

    .emms__counter h5 {
        font-size: 14px;
    }

    .emms__counter li div {
        width: 48px;
        height: 50px;
    }

    .emms__counter li div span{
        font-size: 20px;
        line-height: 50px;
    }

    .emms__counter li:nth-child(1){
        display: block;
        text-align: center;
        margin: 0 0 18px 0;
    }

    .emms__counter li{
        margin-right: 5px;
    }

    .emms__counter li::after{
        display: none;
    }

    .emms__counter li .emms__counter__number--data{
        font-size: 10px;
    }

}
