.emms__speakers {
    text-align: center;
    padding: 80px 0 105px 0;
    position: relative;
    z-index: 1;
}

.emms__speakers h2 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 57px 0;
    animation-delay: .1s;
}

.emms__speakers small {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    display: block;
    margin: 50px 0 0 0;
}

.emms__speakers small a {
    color: #026c3c;
}

.emms__speakers small a:hover {
    text-decoration: underline;
}

.emms__speakers .emms__cta {
    margin: 36px 0 0 0;
}


/* List */

.emms__speakerslist{
    animation-delay: .2s;
}

.emms__speakerslist ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.emms__speakerslist__item{
    text-align: center;
    max-width: 195px;
    width: 95%;
    padding: 0 0 20px 0;
    margin: 0 auto 70px auto;
    box-sizing: border-box;
    border-radius: 20px;
    background: linear-gradient(45deg, #000, transparent);
}

.emms__speakerslist__item__photo{
    max-width: 150px;
    width: 100%;
    display: block;
    margin: -20px auto 0 auto;
}

.emms__speakerslist__item p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    margin: -16px 0 14px 0;
}

.emms__speakerslist__item__logo{
    height: 20px;
}


/* --------------------------------------------------- Responsive --------------------------------------------------- */


@media(max-width:992px){
    .emms__speakerslist ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .emms__speakerslist__item{
        margin: 0 auto 10px auto;
    }
}

@media(max-width:620px){


    .emms__speakers {
        text-align: center;
        padding: 80px 0;
    }

    .emms__speakerslist ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .emms__speakerslist__item__photo{
        max-width: 107px;
    }

    .emms__speakerslist__item p{
        margin: 17px 0 5px 0;
    }
}

